<li id="<%= feed_item.id %>" class="publication_small">
  <% link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="publication_small_author">
      <%= link_to "Autor: " + feed_item.user.name, feed_item.user %>
    </span>
    <span class="publication_small_title"><h2><%= link_to "Título: " + feed_item.title, publication_path(feed_item.id)%></h2></span>
    <span class="publication_small_content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "¿Seguro?" },
                                     title: feed_item.content %>
  <% end %>
</li>
