<% if signed_in? %>
  <div class="row">
    <aside class="span4">
	  <section>
	    <%= render 'shared/user_navigation' %>
	  </section>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Biblioteca</h3>
      <%= link_to "Ver todas las publicaciones", publications_path %><br>
      <%= link_to "Ver una publicación al azar", random_path %><br>
      <%= link_to "Ver publicaciones de suscripciones", feed_path %>
    </div>
  </div>
<% end %>
